* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  background-image: url('images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container{
  width: 80%;
  margin: 0 auto;
  /* background-color: azure; */
  /* opacity: .9; */
}

.search-bar {
  width:60%;
  margin: auto;
  text-align: center;
  padding: 30% 0;
}

input{
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
}

button{
  padding: 15px 15px;
  border-radius: 5px;
}

.paragraph {
  font-size: 3em;
  color: white;
  margin: 0 auto;
  text-align: center;
}
