* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family:'Oswald', sans-serif;
}

body{
  background-image: url('images/background2.jpg');
  background-attachment: fixed;
  background-size:  cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

/* ****************
****************
**************** */
/* Heading Style */

.main-container{
  width: 80%;
  margin: 0 auto;
}

.bannerh2 {
  margin-top: 20px;
  color: white;
}
.bannerh2 span {
  color: #55eb34;
}

.banner {
  width: 100%;
  height: 45px;
  border: 1px solid white;
  margin: 5px auto;
  border-radius: 2px;
  font-size: 30px;
  text-align: center;
  /* font-family: 'Pangolin', cursive; */
  color: white;
  overflow: hidden;
}

/* ****************
****************
**************** */
/* Middle Content */

.date {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  width:60%;
  margin: auto;
  text-align: center;
  padding: 10% 0 5% 0;
}

input{
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
  font-size: 15px;
}

button{
  padding: 15px 15px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 15px;
}

/* ****************
****************
**************** */
/* Main Content */

.reports{

}

.sub-reports {
  border: 1px solid white;
  border-radius: 5px;
  width: 350px;
  margin: 5px auto;
}


.paragraph {
  color: black;
  margin: 0 auto 25px auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  opacity: .6;
  width:250px;
  font-size: 2.5em;
}

.paragraph img {
  background-color: black;
  width: 150px;
}

.h1temp {
  color:orange;
  font-size: 75px;
}

/* ****************
****************
**************** */


@media (min-width: 1000px) {
  body {
    background-image: url('images/background2.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .banner {
    width: 80%;
  }


  .paragraph img {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .reports{
    display: flex;
  }


}
