* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  background-image: url('images/background.jpg');
  background-attachment: inherit;
  background-size:  cover;
  background-repeat: no-repeat;
  width: 500px;
  height: auto;
}

.main-container{
  width: 80%;
  margin: 0 auto;
}

.search-bar {
  width:60%;
  margin: auto;
  text-align: center;
  padding: 20% 0 5% 0;
}

input{
  padding: 15px 50px 15px 50px;
  border-radius: 5px;
}

button{
  padding: 15px 15px;
  border-radius: 5px;
  margin-top: 5px;
}


.paragraph {
  font-size: 3em;
  color: black;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  opacity: .6;
  width:400px;
}

.paragraph img {
  background-color: black;
  border-radius: 8px;
}

@media (min-width: 1000px) {
  body {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }


  .paragraph img {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

}
